@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Exo+2:wght@600&family=Inter:wght@100&family=Mukta:wght@300&family=Mulish:wght@300&family=Oxanium:wght@600&family=PT+Sans+Narrow&family=Pacifico&family=Playfair+Display&family=Poppins:wght@100&display=swap');
section{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color:#eee;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 2px;
.part-1{
    width: 100%;
    height: 30%;
    .logoAndText{
        margin-top: 30px;
        width: 200px;
        height: 50px;
        border: 1px solid rgb(8, 8, 56);
        background-color: #fff;
        border-radius: 10px;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .7s;
        &:hover{
            transition: .7s;
            background-color: rgb(8, 8, 56);
            color: #eee;
        }
    }
}

.my-search-btn{
    border: 1px solid rgb(8, 8, 56);
    color: rgb(8, 8, 56);
}
}
